* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

header {
  grid-area: header;
  background-color: black;
  color: white;
}

main {
  height: 100%;
  width: 100%;
  grid-area: main;
}

aside {
  height: 100%;
  width: 100%;
  grid-area: side;
  background-color: yellow;
}

footer {
  height: 100%;
  width: 100%;
  grid-area: footer;
  background-color: black;
  color: white;
}

.container {
  display: grid; ,x
  width: 100vw;
  height: 100vh;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px auto 50px;
  grid-template-areas: 
    'header header'
    'main side'
    'footer footer';
}